<nav>
  <ul class="top-bar">
     {% for item in site.data.navigation %}
         <li><a href="{{ item.link }}" {% if page.url == item.link %}class="active-nav"{% endif %}>
               {{ item.name }}
             </a>
         </li>
     {% endfor %}
     <li><a target="new" href="http://twitter.com/suchnadine"><img src="/assets/icons/twitter.svg" alt="Twitter"/></a>
  </ul>
</nav>
<div class="header title">
  <h1> nadine aurora tabing </h1>
  <h2 class="subtitle"> speculative fiction writer, designer, &amp; artist</h2>
</div>
